{% extends 'main.html' %}
{% block content %}
    <div class="col-md-4"></div>
    <div class="col-md-4 margin">
        <form class="form-horizontal" action="." method="post">
            {% csrf_token %}
            <fieldset>
                <div class="form-group-row">
                    <label for="id_service"
                           class="col-2 col-form-label">Услуга:</label>
                    <select class="form-control" id="id_service" name="service">
                        <option value selected="selected">Выбери!</option>
                        <option value="1">Вода</option>
                        <option value="2">Свет</option>
                        <option value="3">Газ</option>
                    </select>
                </div>
                <div class="form-group-row">
                    <label for="id_meters_data"
                           class="col-2 col-form-label">Данные со счетчика:</label>
                    <input class="form-control" id="id_meters_data" name="meters_data" type="number">
                </div>
                <div class="form-group-row">
                    <label for="id_month"
                           class="col-2 col-form-label">Месяц:</label>
                    <input class="form-control" type="date" id="id_month" name="month"/>
                </div>
            </fieldset>
            <p></p>
            <div class="form-actions" align="center">
                <button type="submit" class="btn btn-success">Готово</button>
                <a href="/" class="btn btn-success">На главную</a>
            </div>
        </form>
    </div>
    <div class="col-md-4"></div>
{% endblock %}